{{ define "write" }}
{{ template "header" }}
<div class="container">
<h1> Adding a new column into: {{ .TableName }} </h1>
<form role="form" method="POST" action="/SaveColumn">
  <div class="form-group">
    <label>Name: </label>
    <input type="text" class="form-control" id="name" name="name"/>
  </div>
  <div class="form-group">
    <label>Type: </label>
    <select name="type">
   <option value="TEXT">Text</option>
   <option value="TINYTEXT">Small text</option>
   <option value="VARCHAR(64)">Word</option>
   <option value="INTEGER">Int</option>
   <option value="DOUBLE">Decimal</option>
 </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{{end}}
