{{ define "createFromTemplate" }}
{{ template "header" }}
<section id="showcase">
<div class="container">
<h1> Creating a new Record in {{.TableName}} from: {{.TemplatesType}} </h1>
<div class = "form-group">
  <form role="form" method="POST" action="/usingTemplate">
    <label>Name:</label>
    <input type="text" name="NewTable"/>
    <label> like </label>
    <select name="templateName">
      {{range .Options}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
 </select>
 <input type="text" name="tableName" value="{{.TableName}}" style="display: none"/>
 <input type="text" name="templatesType" value="{{.TemplatesType}}" style="display: none"/>
   <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>
</section>
{{end}}
