
{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="App for table management">
    <meta name="keywords" content="table, online, managemet">
    <meta name="author" content="Ivan Miranikhin">
    <title>ProjectX</title>
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>

      <header>
          <div class="container">
            <div id="branding">
              <h1>Project X</h1>
            </div>
            <nav>
              <ul>
                <li><a href="/firma">Firma's</a></li>
                <li><a href="/firmaTemplates">Firma Templates</a></li>
                <li><a href="/tableTemplates">Table Templates</a></li>
              </ul>
            </nav>
          </div>
      </header>
      {{end}}
